.positioning {
    position: absolute;
    top: 25px;
    left: 8%;
}
.directions {
    text-align: end;
}

@media only screen and (max-width: 688px) {
    .positioning {
        top: 0;
        left: 0;
        position: relative;
    }
}